<aside  class="fixed top-0 left-0 w-64  bg-[#52B788] text-white p-2 flex flex-col h-screen">
  <h2 class="text-xl font-bold mb-6 text-white">Dashboard</h2>
  <nav class="flex flex-col space-y-2">
      <a href="{% url 'mayondo_app:dashboard' %}" 
         class="px-4 py-2 rounded hover:bg-[#2D6A4F] transition">Dashboard</a>

  <a href="{% url 'mayondo_app:sales_listpage' %}" 
         class="px-4 py-2 rounded hover:bg-[#2D6A4F] transition">Sales</a>

    <a href="{% url 'mayondo_app:stock_report' %}" 
       class="px-4 py-2 rounded hover:bg-[#2D6A4F] transition">Stock Reports</a>

    <a href="{% url 'mayondo_app:sales_report' %}" 
       class="px-4 py-2 rounded hover:bg-[#2D6A4F] transition">Sales Reports</a>

    {% if role == 'manager' or role == 'admin' %}
      <a href="{% url 'mayondo_app:product_list' %}" 
       class="px-4 py-2 rounded hover:bg-[#2D6A4F] transition">Products</a>
    
      <a href="{% url 'mayondo_app:register' %}" 
         class="px-4 py-2 rounded hover:bg-[#2D6A4F] transition">Add Employees</a>

      <a href="/admin/" 
         class="px-4 py-2 rounded bg-[#2D6A4F] hover:bg-[#2D6A4F] transition">Admin</a>
     {% endif %}

    <a href="{% url 'mayondo_app:logout' %}" 
       class="px-4 py-2 rounded text-white-300 hover:text-white hover:bg-[#2D6A4F] transition">Logout</a>
  </nav>
</aside>
